*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root 
{
  --black         : #0D0D0D;
  --blue          : #E5F4FF;
  --dark-blue-grey: #475659;
  --white         : #FFFFFF;
}

body
{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: var(--blue);
}

